body {
  margin: 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
}

button{
  position: absolute;
  top: 20px; 
  right: 30px; 
  width: 200px; 
  height: auto; 
  padding: 8px 16px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius:0;
  color:white;
  background-color: black;
  border-width:0;
}

#app {
  position: relative;
}

.logo-image {
  position: absolute;
  top: 30px; 
  left: 30px; 
  width: 200px; 
  height: auto; 
}

.customizer-container{
  position: absolute;
  bottom:0;
  width: 100%; 
  height: 155px; 
  background-color: black;
  color: white;
  margin-top: 16px;
}


#name{
  margin-top: 16px;
  color: rgb(105, 255, 71);
  font-size: 26px;
}

.color-palette-container{
  font-family: 'Helvetica Roman', sans-serif;
  font-size: 12px;
}

#color-palette-laces{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;

}

#color-palette-sole{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.box {
  height: 40px;
  width: 40px;
  margin-bottom: 6px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid black;
  display: block;

}

.box:active {
  border: 2px solid #68ff47;
}

.red {
  background: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}