body {
  margin: 0;
  text-align: center;
}

#app {
  position: relative;
}

.logo-image {
  position: absolute;
  top: 30px; 
  left: 30px; 
  width: 200px; 
  height: auto; 
}

.customizer-container{
  position: absolute;
  bottom:0;
  width: 100%; 
  height: 155px; 
  background-color: white;
}


#name{
  margin: 0;
}


#color-palette-laces{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  display: none;
  font-size: 24px;
}

.box {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
  border: 1px solid black;
  display: block;

}

.red {
  background: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}